<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>Renaissance FC</display-name>
	<listener>
		<listener-class>com.learn.epam.victorprudnikov.util.ServletListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>EditServlet</servlet-name>
		<servlet-class>com.learn.epam.victorprudnikov.controller.EditServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CreateServlet</display-name>
		<servlet-name>CreateServlet</servlet-name>
		<servlet-class>com.learn.epam.victorprudnikov.controller.CreateServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteServlet</display-name>
		<servlet-name>DeleteServlet</servlet-name>
		<servlet-class>com.learn.epam.victorprudnikov.controller.DeleteServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CoachesViewServlet</display-name>
		<servlet-name>CoachesViewServlet</servlet-name>
		<servlet-class>com.learn.epam.victorprudnikov.controller.CoachesViewServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TeamViewServlet</display-name>
		<servlet-name>TeamViewServlet</servlet-name>
		<servlet-class>com.learn.epam.victorprudnikov.controller.TeamViewServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditServlet</servlet-name>
		<url-pattern>/edit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateServlet</servlet-name>
		<url-pattern>/create</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteServlet</servlet-name>
		<url-pattern>/delete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CoachesViewServlet</servlet-name>
		<url-pattern>/coachesview</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TeamViewServlet</servlet-name>
		<url-pattern>/teamview</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>